<div class="container-fluid">
<br/><br/><br/><br/><br/><br/><br/><br/><br/>
<div class="container">
  <div class="row">
    <div class="col">
      <form class="form-group">
        <br/><br/>
        <label>username</label>
        <input type="text" class="form-control">
        <label>passowrd</label>
        <input type="password" class="form-control">
        <button class="btn btn-primary">Login</button>
      </form>
      <small class="CustomS">Not registered yet?</small>
      <a routerLink='/register' class="CustomS">Signup</a>
      <br/><br/>
    </div>
  </div>
</div>
</div>
