<br/><br/><br/>
<div class="container">
  <div class="row">
    <div class="col">
      <form class="form-group" #userForm = "ngForm">

        <br/>
        <label>fullname</label>
        <input type="text" class="form-control" name="fname" ngModel>
        <label>email</label>
        <input type="text" class="form-control" name="email" ngModel>
        <label>username</label>
        <input type="text" class="form-control" name="username" ngModel>
        <label>password</label>
        <input type="password" class="form-control" name="password" ngModel>
        <button class="btn btn-info CustomSA">sign up</button>
      </form>
      <hr/>
      <button class="btn btn-primary CustomSA">Continue with facebook</button>
      <button class="btn btn-warning CustomSA">Continue with google</button>
      <hr/>
      <a routerLink='' class='CustomS'>Back to login</a>
      <br/><br/>
    </div>
  </div>
</div>
{{ userForm.value | json }}
